.herosection-container{
    margin: 0;
    padding: 0;
    background: #34353a;
    height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Hero-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.Hero-container-image img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 200px;
    opacity: 70%;
    border: solid rgba(0, 0, 0, 0.5) 3px;
    padding: 5px;
    transform: scale(0.95);
    transition: all 0.3s ease-in;
}
.Hero-container-image img:hover{
    border: solid goldenrod 3px;
    transform: scale(1);
    opacity: 100%;
}
.hero-content{
    margin: 0;
    padding: 0;
    margin-top: 40px;
}
.special{
    margin-top: 30px;
}
.hero-content h3{
    color: goldenrod;
    margin: 0;
}
.hero-content-header span,
.hero-content p{
    color: whitesmoke;
    margin: 0;
}
.hero-content-header{
    color: goldenrod;
}
.social-media-links{
    display: flex;
    gap: 10px;
}
.social-media-links a img{
    width: 35px;
    height: 35px;
    margin-top: 40px;
    transform: scale(0.90);
    transition: transform 0.3s ease-in-out;
}
.social-media-links a img:hover{
    transform: scale(1.1);
}
